{% load staticfiles %}
<html>
<head>
    {% load bootstrap4 %}
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_css %}
    <meta charset="utf-8">

    <title>{% block title %}Kuzmin Blog{% endblock %}</title>

</head>
<body>
    <!-- header -->
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">

      <div class="col-2 text-left">
          <ul>
              <a class="blog-header-logo text-dark" href="{% url 'blog:Post_year_archive'  2019  %}">Архив {{  obj.datetime|date:'Y' }}</a>
          </ul>
      </div>
        <div class="col-3 text-left">
          <ul>
              <a class="blog-header-logo text-dark" href="{% url 'blog:list'  %}">Список статей</a>
          </ul>
      </div>
        <div class="col-3 text-left">
          <ul>
              <a class="blog-header-logo text-dark" href="{% url 'blog:home' %}"><h4>Kuzmin Blog Главная</h4></a>
          </ul>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
            {% if not user.is_authenticated %}
            <ul>
                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'blog:login_view' %}?next={{request.path}}">Войти</a>


            </ul>

            <ul>
                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'blog:registration' %}">Зарегистрироваться</a>
            </ul>
            {% endif %}

        {% if user.is_authenticated %}
            <ol>
                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'blog:logout' %}?next={{request.path}}">Разлогиниться</a>

            </ol>
        {% endif %}

         {% if  user.is_staff %}
             <ul>
                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'blog:create_post' %}">Запостить новую статью</a>

            </ul>
         {% endif %}




      </div>
    </div>
  </header>
    <!-- Navigator -->

    <div class="container">
    <p class="text-centr"><img src='{% static "images/sitelogo.jpeg" %}' alt="Logo" width="100%" height="35%"></p>
    </div>

    <div class="container">
        {% block opisanie %}

        {% endblock opisanie %}
    </div> <!-- container -->



    <div class="container">
        {% block content %}Empty page{% endblock content %}
    </div> <!-- container -->


<footer class="blog-footer">
  <p class="col-12 text-center">Сделанно в процессе обучения студента<a style="text-decoration:none" href="#"> Кузьмин Михаил Сергеевич</a>.
      <a style="text-decoration:none" class="text-centr" href="#" >(вернуться вверх)</a> Copyright &copy; </p>
</footer>


</body>
</html>
