{% extends 'blog/base.html' %}

    {% block opisanie %}
        <h1> Все статьи за  {{ day }}</h1>
    {% endblock opisanie %}

{% block content %}
<ul>
    {% for obj in object_list %}
        <p>
            <li><a href="{{ obj.get_absolute_url }}">{{obj.title}}</a> -  автор {{ obj.user_post}}
        </p>
    {% endfor %}
</ul>
<p>
    {% if previous_day %}
        Предыдущий день : <a href="{% url 'blog:Post_day_numeric' previous_day|date:'Y' previous_day|date:'m'  previous_day|date:'d' %}"> <b>{{ previous_day|date:"j F Y" }}</b></a>
    {% endif %}

    {% if previous_day and next_day %} --- {% endif %}

    {% if next_day %}
        Следующий день : <a href="{% url 'blog:Post_day_numeric' next_day|date:'Y' next_day|date:'m'  next_day|date:'d' %}"> <b>{{ next_day|date:"j F Y" }}</b></a>
    {% endif %}
</p>

{% endblock content %}
