{% extends 'blog/base.html' %}
{% block opisanie %}
<div>Это блог о том как я учился в DL ACADEMY и чему научился...</div>
{% if user.is_authenticated %}Hello, {{ user.username }}.{% endif %}
{% endblock opisanie %}


{% block content %}
<ul class="nav">
                <li> Список постов</li>
            </ul>
        {{ list_home }}
        <p>{{ post.datetime }}</p>
        <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
        <p>{{ post.content }}</p>



{% endblock content %}