{% extends 'blog/base.html' %}
{% block content %}

    <p>{{ post.datetime }}</p>
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'blog:simple_post' Post.pk %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>
{% endblock content %}