{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ object.title }}
{% endblock title %}

{% block opisanie %}
    <h1 class="text-centr">{{ object.title }}</h1>
    <p><b>{{ post.datetime }}</b></p>
{% endblock opisanie %}

{% block content %}

    <p>{{ post.content|escape|linebreaks }}</p>

    {% if not user.is_authenticated %}
        <h5 class="border-bottom border-gray pb-2 mb-0">Хотите оставить комментарий? Тогда войдите или зарегистрируйтесь</h5>

    {% endif %}

    {% if comment_tree %}
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Коментарии</h6>
            {% for comment in comment_tree.all reversed %}
            <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">
                        {{ comment.timestamp }}  комментарий от - <b>{{ comment.user_comment }}</b></strong>
                        {{ comment.message }}
                </p>
            </div>
            {% empty %}
                <p> Будь первым и поделись своим мнением. </p>
            {% endfor %}
        </div>
    {% endif %}

        <!-- Comment Form -->
    {% if user.is_authenticated %}
        {% if new_comment %}
            <p>Спасибо за Ваш комментарий</p>
        {% else %}
        <form action="" method="POST" >
                {% csrf_token %}
                {{ comment_form|crispy }}
            <input  type="submit" value="Отправить" id="add_commit">
        </form>
        {% endif %}
    {% endif %}


{% endblock content %}
